@import "../design-system/tokens/index.css";
@import "./reset.css";
@import "./utilities.css";

:root {
  color-scheme: light;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;

  background: var(--color-background);

  color: var(--color-text-primary);

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}